/*CSS Visualizar Foto*/

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /*Letra 
    font-family: 'Comfortaa', cursive;
    font-family: 'Raleway', sans-serif;
    Colores:
    #10A3EB
    #EEEEEE
    */
}

a {
    text-decoration: none;
    color: black;
}


/********* Empieza encabezado **********/

header {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: center;
    background-color: #EEEEEE;
    font-family: 'Comfortaa', cursive;
}

.logo img {
    width: 100px;
}

hr {
    border: 1.5px solid black;
}


/*La camara y el titulo Galor*/

.logo {
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    margin-left: 30px;
}

.logo h1 {
    text-shadow: 0px 5px 5px #10A3EB;
    font-size: 3.5em;
    margin-left: 10px;
}


/*Usuario y foto de perfil cuando se inicia sesi칩n*/

.flecha {
    width: 50px;
    height: 30px;
    background-color: black;
    color: #EEEEEE;
    border: 1px solid #10A3EB;
    padding: 1px;
    margin-top: 20px;
    float: left;
}

.fotoPerfilTop {
    width: 70px;
    height: 70px;
    border-radius: 50%;
}

.perfil {
    display: none;
    margin-right: 15px;
}

.fotoPerfil {
    width: 75%;
    height: 200px;
    border-radius: 50%;
}

#h3User {
    float: left;
    margin-top: 25px;
    margin-left: 20px;
    margin-right: 20px;
}


/*Botones de registrarse y iniciar sesi칩n*/

.sesion {
    display: flex;
    flex-flow: row;
    margin-right: 40px;
}
.registro,
.inicioSesion {
    background-color: black;
    color: #EEEEEE;
    font-size: 1.4em;
    width: 180px;
    height: 50px;
    padding: 10px;
    margin: 10px;
    border-radius: 20px;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 3px 5px 5px #10A3EB;
    cursor: pointer;
}


img {
    width: 100%;
}

/*Capa de registro*/

.Registro {
    position: absolute;
    font-family: 'Comfortaa', cursive;
    background-color: #EEEEEE;
    text-shadow: 1px 2px 2px #10A3EB;
    box-shadow: 3px 4px 6px black;
    border-radius: 10px;
    padding: 30px;
    font-size: 2em;
    right: 10%;
    top: -20px;
    height: 530px;
    display: none;
    z-index: 5;
}


/*Texto y label de registro*/

.Registro input {
    font-family: 'Raleway', sans-serif;
    height: 40px;
    margin: 10px;
    margin-right: 30px;
    padding-left: 10px;
    margin-bottom: 30px;
    font-size: 0.8em;
}


/*Bot칩n de registro final*/

.Registro .completaRegistro {
    background-color: black;
    color: #EEEEEE;
    font-size: 1.1em;
    width: 200px;
    height: 80px;
    padding: 10px;
    margin: 10px;
    margin-left: 95px;
    margin-top: 10px;
    border-radius: 15px;
    text-align: center;
    box-shadow: 3px 5px 5px #10A3EB;
    cursor: pointer;
    font-weight: bold;
}


/*Error de falta datos*/

.Registro p:last-child {
    margin-left: 92px;
    color: red;
}


/*Capa de login (como la de registro)*/

.login {
    position: absolute;
    font-family: 'Comfortaa', cursive;
    background-color: #EEEEEE;
    text-shadow: 1px 2px 2px #10A3EB;
    box-shadow: 3px 4px 6px black;
    border-radius: 10px;
    padding: 30px;
    font-size: 2em;
    right: 2%;
    top: -20px;
    height: 390px;
    display: none;
    z-index: 5;
}

.edit {
    position: absolute;
    font-family: 'Comfortaa', cursive;
    background-color: #EEEEEE;
    text-shadow: 1px 2px 2px #10A3EB;
    box-shadow: 3px 4px 6px black;
    border-radius: 10px;
    padding: 30px;
    font-size: 2em;
    right: 2%;
    top: -20px;
    height: 200px;
    display: none;
    z-index: 10;
}

.miPerfil {
    height: 60px;
    width: 100%;
    font-size: 1.2em;
    font-weight: bold;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Comfortaa', cursive;
    background-color: whitesmoke;
    box-shadow: 1px 2px 2px #10A3EB;
    margin-bottom: 15px;
    padding: 5px;
    cursor: pointer;
    border-radius: 5px;
}
.foto{
    margin-right: 2vw
}

.cerrar {
    background-color: black;
    color: #EEEEEE;
    font-size: 1em;
    width: 260px;
    padding: 10px;
    margin-top: 15px;
    border-radius: 5px;
    font-family: 'Comfortaa', cursive;
    text-align: center;
    box-shadow: 3px 5px 5px #10A3EB;
    cursor: pointer;
    font-weight: bold;
}

.relleno {
    background-color: black;
    position: relative;
    top: 0;
    opacity: 50%;
    height: 100%;
    width: 100%;
    display: none;
    z-index: 3;
    position: absolute;
}
/******** Fin de encabezado *********/


/********* Cuerpo ***********/

main {
    position: relative;
    background-color: #EEEEEE;
    display: flex;
    justify-content: center;
    height: 100%;
}

.info {
    display: flex;
    flex-flow: column;
    width: 90%;
    margin-top: 30px;
}

.fotoTitulo h2 {
    font-family: 'Comfortaa', cursive;
    font-size: 2.5em;
    padding-left: 25px;
    padding-top: 20px;
}

.titulo {
    display: flex;
    flex-flow: column;
}

.titulo hr {
    display: flex;
    flex-flow: column;
    margin-left: 15px;
    margin-right: 20px;
}

.bigFoto {
    float: left;
    width: 45vw;
    border-radius: 5px;
}

.descripcion {
    font-family: 'Raleway', sans-serif;
    font-size: 1.4em;
    line-height: 35px;
    margin: 10px;
    margin-top: 20px;
    margin-left: 25px;
}

.likes {
    display: flex;
    flex-flow: row;
    justify-content: flex-end;
    align-items: center;
    margin: 20px;
    margin-right: 50px;
}

.megusta {
    width: 8%;
}

.numLikes {
    font-family: 'Comfortaa', cursive;
    font-size: 1.8em;
    margin: 20px
}

.comentarios {
    font-family: 'Comfortaa', cursive;
    margin: 30px;
    font-size: 1.8em;
    padding-bottom: 40px;
}

.usuario {
    margin-top: 10px;
    margin-left: 50px;
}

.usuario img {
    float: left;
    width: 10%;
    margin-right: 30px;
}

.usuario h3 {
    font-family: 'Comfortaa', cursive;
    padding: 10px;
    padding-top: 30px;
}

.comentario {
    border-top: 0;
    border-left: 0;
    border-right: 0;
    border-bottom: 2px solid grey;
    width: 70%;
    height: 40px;
    padding-left: 10px;
    font-size: 0.8em;
    background-color: #EEEEEE;
}

.usuario input:focus-within {
    outline: 0;
}
.subComment{
    background-color: black;
    color: #EEEEEE;
    font-size: 0.6em;
    width: 310px;
    height: 40px;
    padding: 10px;
    text-align: center;
    font-weight: bold;
    font-family: 'Comfortaa', cursive;
    margin-top: 30px;
}

/********* Fin del Cuerpo ***********/


/*Pie de p치gina*/

footer {
    font-family: 'Comfortaa', cursive;
    background-color: #10A3EB;
    width: 100%;
    padding: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: fixed;
    bottom: 0;
}

footer hr {
    width: 100%;
    position: fixed;
    bottom: 40px;
}