* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /*Letra 
    font-family: 'Comfortaa', cursive;
    font-family: 'Raleway', sans-serif;
    Colores:
    #10A3EB
    #EEEEEE
    */
}
/*Empieza encabezado*/
header{
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: center;
    background-color: #EEEEEE;
    font-family: 'Comfortaa', cursive;
}
.logo img{
    width: 100px;
}
.logo{
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    margin-left: 30px;
}
.logo h1{
    text-shadow: 0px 5px 5px #10A3EB;
    font-size: 3.5em;
    margin-left: 10px;
}
.sesion{
    display: flex;
    flex-flow: row;
    margin-right: 40px;
}
.registro,.inicioSesion{
    background-color: black;
    color: #EEEEEE;
    font-size: 1.4em;
    width: 180px;
    height: 50px;
    padding: 10px;
    margin: 10px;
    border-radius: 20px;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 3px 5px 5px #10A3EB;
    cursor: pointer;
}
img{
    width: 100%;
}
main{
    position: relative;
}
.Registro{
    position: absolute;
    font-family: 'Comfortaa', cursive;
    background-color: #EEEEEE;
    text-shadow: 1px 2px 2px #10A3EB;
    box-shadow: 3px 4px 6px black;
    border-radius: 10px;
    padding: 30px;
    font-size: 2em;
    right: 10%;
    top: -20px;
    height: 530px;
}
.Registro input{
    font-family: 'Raleway', sans-serif;
    height: 40px;
    margin: 10px;
    margin-right: 30px;
    padding-left: 10px;
    margin-bottom: 30px;
    font-size: 0.8em;
}
.Registro .completaRegistro {
    background-color: black;
    color: #EEEEEE;
    font-size: 1.1em;
    width: 200px;
    height: 80px;
    padding: 10px;
    margin: 10px;
    margin-left: 95px;
    margin-top: 10px;
    border-radius: 15px;
    text-align: center;
    box-shadow: 3px 5px 5px #10A3EB;
    cursor: pointer;
    font-weight: bold;
}
.Registro p:last-child{
    margin-left: 92px;
    color: red;
}
.login{
    position: absolute;
    font-family: 'Comfortaa', cursive;
    background-color: #EEEEEE;
    text-shadow: 1px 2px 2px #10A3EB;
    box-shadow: 3px 4px 6px black;
    border-radius: 10px;
    padding: 30px;
    font-size: 2em;
    right: 2%;
    top: -20px;
    height: 390px;
}
.login input{
    font-family: 'Raleway', sans-serif;
    height: 40px;
    margin: 10px;
    margin-right: 30px;
    padding-left: 10px;
    margin-bottom: 30px;
    font-size: 0.8em;
}
.login .completaLogin{
    background-color: black;
    color: #EEEEEE;
    font-size: 1.1em;
    width: 250px;
    height: 80px;
    padding: 10px;
    margin: 10px;
    margin-left: 70px;
    margin-top: 5px;
    border-radius: 15px;
    text-align: center;
    box-shadow: 3px 5px 5px #10A3EB;
    cursor: pointer;
    font-weight: bold;
}
/*Fin de encabezado*/