* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /*Letra
    font-family: 'Raleway', sans-serif;
    font-family: 'Comfortaa', cursive;
    */
}
header{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items:center;
    width: 100%;
    font-family: 'Comfortaa', cursive;
    background-color: aquamarine;
}
header img{
    width: 200px;
}
.perfil{
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    background-color: yellow;
}
.sesion{
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    background-color: blueviolet;
}
.Registro{
    background-color: aquamarine;
    width: 300px;
}
img{
    width: 100%;
}